pyautogen==0.2.9
pypdf
pydantic==2.5.3
pydantic_core==2.14.6
langchain==0.1.4
langchain-community==0.0.16
langchain-core==0.1.16
langchain-openai==0.0.5
openai==1.10.0
chromadb==0.4.22
arxiv==2.1.0
lxml==5.1.0
matplotlib==3.8.2
sentence_transformers