ipykernel
autogen-agentchat
chromadb
opentelemetry-sdk
opentelemetry-exporter-otlp-proto-grpc
autogen-ext[openai]
matplotlib
numpy
pandas
beautifulsoup4
python-dotenv
yfinance
mcp
autogenstudio
aiohttp